* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  min-height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  background: #232323;
  border: 1px solid #232323;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
  border-color: #a80041;
}

.projects {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 1.25rem -0.375rem #d3d3d3;
  border-radius: 5px;
}

.projects header {
  height: 2.5rem;
  padding: 1rem 1rem 0;
}

#finished-projects {
}

.projects h2 {
  color: #232323;
  margin: 0;
  text-transform: capitalize;
}

.projects ul {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  height: calc(100% - 6rem);
  overflow: auto;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1.5px dashed #9e9e9e;
}

.projects li {
  padding: 1rem;
  margin: 0.5rem 0;
  background: white;
  border-radius: 6px;
}

.projects li h2 {
  color: #232323;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #0044ff;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  border: 1.5px dashed #9e9e9e;
}
/* 
#finished-projects .droppable {
  background: #d6e1ff;
} */

#user-input {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  background: #232323;
  align-items: center;
  height: 100%;
  width: 25rem;
  border-radius: 5px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: calc(100vh - 12rem);
  justify-content: space-between;
}

#app {
  width: calc(100% - 26rem);
  margin-top: 1rem;
  height: 100%;
  gap: 1rem;
}
