* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  min-height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: calc(100vh - 4.5rem);
  justify-content: space-between;
}

#app {
  width: calc(100% - 26rem);
  margin-top: 1rem;
  height: 100%;
  gap: 1rem;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

a {
  display: flex;
  margin: 0.5rem;
  width: fit-content;
}
