* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  min-height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: calc(100vh - 6rem);
  justify-content: space-between;
}

#app {
  width: calc(100% - 26rem);
  margin-top: 1rem;
  height: 100%;
  gap: 1rem;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #252525;
  padding: 1rem 1rem 0.5rem;
  width: fit-content;
}

.logo img {
  height: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #252525;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
  text-align: start;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}
