label,
input,
textarea {
	display: block;
	margin: 0.5rem 0;
}

label {
	color: #f9f9f9;
}

input,
textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #f7f7f7;
	padding: 1rem;
	border-radius: 5px;
	resize: none;
	margin: 0.4rem auto 0;
}

input:focus-visible,
textarea:focus-visible {
	outline: none;
}

button {
	font: inherit;
	background: #232323;
	border: 1px solid #f2f2f2;
	cursor: pointer;
	color: white;
	padding: 0.75rem 1rem;
	border-radius: 5px;
	margin-top: 2rem;
}

button:focus {
	outline: none;
}

button:hover,
button:active {
	background: #000000;
	border-color: #ffffff;
}

#user-input {
	margin: 1rem;
	padding: 1rem;
	display: flex;
	background: #232323;
	align-items: center;
	height: 100%;
	width: 100%;
	border-radius: 5px;
}

#form {
	width: 25rem;
}

.form-control {
	width: 95%;
	margin-bottom: 1.5rem;
}
