.projects {
	width: 95%;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	box-shadow: 0 0 1.25rem -0.375rem #c7c7c7;
	border-radius: 5px;
}

.projects header {
	height: 2.5rem;
	padding: 1rem 1rem 0;
}

#finished-projects header h2,
#finished-projects li h2 {
	color: #676767;
}

.projects h2 {
	color: #232323;
	margin: 0;
	text-transform: capitalize;
}

.projects ul {
	list-style: none;
	margin: 1rem;
	padding: 1rem;
	height: calc(100% - 6rem);
	overflow: auto;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1.5px dashed #b9b9b9;
}

.projects li {
	padding: 0.1rem 1rem;
	margin: 0.5rem 0;
	background: white;
	border: 1px solid #e9e9e9;
}

.projects li:hover {
	cursor: grab;
}

.projects li h2 {
	color: #404040;
	margin: 0.5rem 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.projects li h3 {
	color: #575757;
	font-size: 1rem;
}

.project li p {
	margin: 0;
}

.droppable {
	border: 1.5px dashed #9e9e9e;
}

.people-number {
	display: flex;
	align-items: flex-end;
	gap: 0.2rem;
	color: #a3a3a3;
}

.description {
	margin: 0.5rem 0;
	color: #4e4e4e;
}
